Source: debweather
Section: gnome
Priority: extra
Maintainer: Giuseppe Martino (denever) <denever@users.sf.net>
Build-Depends: cdbs, debhelper (>= 7), python, python-central
Standards-Version: 3.8.3
XS-Python-Version: >= 2.5
Homepage: http://github.com/denever/debweather

Package: debweather
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, python-gtk2, python-gobject, python-gconf, python-celementtree
XB-Python-Version: >= 2.5
Description: Debian Weather GNOME Applet
 Debweather is an GNOME applet that displays the status of a distribution
 as weather conditions. It's based on edos.debian.net.
