Source: debweather
Section: unknown
Priority: extra
Maintainer: Giuseppe Martino (denever) <denever@users.sf.net>
Build-Depends: cdbs, debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: debweather
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
